.App {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}
:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: rgb(255, 255, 255);
  --bg-color: #ffffff;
  --neutral-color: #fff;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
  margin: 0;
  padding: 0;
}

.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.login form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}

.form span {
  font-size: 40px;
  color: #4b6cb7;
  margin-bottom: 25px;
  display: block;
  text-align: center;
}

.form error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 10px;
  color: red;
}


.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}


.formContainer input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

h1 {
  font-size: 40px;
  font-family: 'sans-serif', cursive;
  color: darkgreen;
  margin-bottom: 25px;
  display: block;
  text-align: center;
}
h2 {
  font-size: 20px;
  font-family: 'sans-serif', cursive;
  color: #09110b;
  margin-bottom: 25px;
  display: block;
  text-align: center;
}

.right_side{
  margin-left: 50%;
  margin-top: -16.5%;

}
.right_side txt1{
  font-size: 25px;
  font-family: 'sans-serif', cursive;
  color: #09110b;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
.right_side txt2{
  font-family: 'sans-serif', cursive;
  
  font-size: 25px;
  color: #09110b;
  margin-bottom: 325px;
  display: block;
  text-align: center;
}
.about_column {
  float: left;
  width: 32.3%;
  padding: 5.1px;
  
}

/* Clearfix (clear floats) */
.about_row {
  content: "";
  clear: both;
  display: table;
  width: auto;
}


.about_column txt1{
  font-family: 'sans-serif', cursive;
  width:fit-content;
  font-size: 23.4px;
  color: #09110b;
  display: inline-block;
  
}
.about_column txt11{
  font-family: 'sans-serif';
  width:fit-content;
  font-size: 18px;
  color: #09110b;
  display: block;
  text-align: center;
  
}
.about_column txt2{
  font-family: 'sans-serif', cursive;
  width:max-content;
  font-size: 23.4px;
  color: #09110b;
  display: inline-block;
  margin-left: 25px;
}
.about_column txt21{
  font-family: 'sans-serif';
  width:fit-content;
  font-size: 18px;
  color: #09110b;
  display: block;
  text-align: center;
  
}
.about_column txt3{
  font-family: 'sans-serif', cursive;
  width:fit-content;
  font-size: 23.4px;
  color: #09110b;
  display: inline-block;
  text-align: right;
  margin-left: 82px;
  
}
.about_column txt31{
  font-family: 'sans-serif';
  width:fit-content;
  font-size: 18px;
  color: #09110b;
  display: block;
  text-align: center;
  
}




.navbar {
  width: 100%;
  height: 75px;
  margin-top: -40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'sans-serif', cursive;
}

.navbar a {
  margin-right: 25px;
  text-decoration: none;
  color: white;
}
.logo {
  width: 60px;
  height: 60px;
  margin-right: auto;  
  margin-left: 20px;
  /*the margin top pushes the logo down by 10 pixels*/
}

.home_img{
  width: 50%;
  height: 90%;
  margin-top: 25px;
  margin-right: auto;  
  margin-left: 20px;
}
.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;  
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}


.ddl {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.ddl label {
  text-align: left;
  display: block;
}
.ddl h2 {
  font-size: 20px;
  color: #6e2192;
  margin-bottom: 30px;
}
.ddl input, .ddl textarea, .ddl select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.ddl button {
  background: #6e2192;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.highlight { 
  color: blue
}
.highlight2 { 
  color: red
}
.sidebar {
  margin-top: -38px;
  height:109.5vh;
  width: 100%;
  flex: 0;
  background-color: black;
  color: black;
}

/* Calendar CSS */
.react-calendar {
  width: 450px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 64px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 64px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 36px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #b9db5c;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
