.home_container{
  height: relative;
  /* width: 100vw; */
  background-color: lightgrey;
  font-size: 16px;
  display: flex
}
.home_body{
  height: 80vh;
  padding: 10px;
  width: 100%;
  display: grid;
}
.home_body .title{
  justify-content: center;
}
.calendar{
  margin-top: 50px;
  margin-left: 350px;
  height: 100%;
}
.profile {
  width: 760px;
  padding: 0 0 0;
  margin: auto;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.profile form {
position: relative;
z-index: 1;
background: #FFFFFF;
border-radius: 10px;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
}

.form input {
outline: 0;
background: #f2f2f2;
width: 100%;
border: 0;
border-radius: 5px;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}

.form span {
  font-size: 40px;
  color: #4b6cb7;
  margin-bottom: 25px;
  display: block;
  text-align: center;
}

.form error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 10px;
  color: red;
}


.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}



.formContainer input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}
.course-list {
  display: flex;
  padding: 10px;
}

.course-list table {
  padding-left: 70px;
}

.righttxt {
 
  font-size: 20px;
  font-family: 'sans-serif', cursive;
  color: #09110b;
}

.check {
  padding-top: 15px;
  padding-left: 10px;
}

.course_select{
  padding-left: 350px;  
}
